<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="fatdiv">
<h3>FOLLOW ROSIE </h3>
</div>
<div class="lowerdiv">
<a title="instagram" href="http://instagram.com/rosieboylan" target="_blank" class="social">
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40.098px" height="40.099px" viewBox="0 0 40.098 40.099" enable-background="new 0 0 40.098 40.099" xml:space="preserve">
<path fill="none" stroke="#AEABA6" stroke-width="1.68" stroke-miterlimit="10" d="M20.049,39.259c10.61,0,19.209-8.6,19.209-19.209
	c0-10.61-8.599-19.21-19.209-19.21C9.436,0.84,0.84,9.439,0.84,20.05C0.84,30.659,9.436,39.259,20.049,39.259"/>
<path fill="#AEABA6" d="M26.234,9.964H13.862c-2.15,0-3.899,1.751-3.899,3.9v4.117v8.258c0,2.149,1.749,3.896,3.899,3.896h12.372
	c2.149,0,3.898-1.747,3.898-3.896v-8.258v-4.117C30.133,11.715,28.384,9.964,26.234,9.964z M27.352,12.292l0.448-0.003v0.445v2.974
	l-3.41,0.013l-0.011-3.419L27.352,12.292z M17.17,17.982c0.645-0.896,1.691-1.481,2.875-1.481c1.187,0,2.236,0.586,2.881,1.481
	c0.422,0.582,0.672,1.295,0.672,2.069c0,1.958-1.593,3.55-3.553,3.55c-1.954,0-3.55-1.592-3.55-3.55
	C16.495,19.277,16.748,18.564,17.17,17.982z M28.169,26.24c0,1.066-0.868,1.932-1.935,1.932H13.862c-1.07,0-1.935-0.865-1.935-1.932
	v-8.258h3.012c-0.26,0.639-0.405,1.338-0.405,2.069c0,3.042,2.474,5.517,5.511,5.517c3.043,0,5.518-2.475,5.518-5.517
	c0-0.731-0.146-1.431-0.405-2.069h3.012V26.24z"/>
</svg>
</a><a title="Facebook" href="https://www.facebook.com/BoylanHeadwear" target="_blank" class="social"><?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40.101px" height="40.099px" viewBox="0 0 40.101 40.099" enable-background="new 0 0 40.101 40.099" xml:space="preserve">
<path fill="none" stroke="#AEABA6" stroke-width="1.68" stroke-miterlimit="10" d="M20.05,39.259
	c10.606,0,19.211-8.598,19.211-19.208S30.656,0.84,20.05,0.84C9.44,0.84,0.84,9.44,0.84,20.051S9.44,39.259,20.05,39.259"/>
<path fill="#AEABA6" d="M15.184,16.635h2.082v-2.027c0-0.893,0.025-2.272,0.675-3.125c0.683-0.904,1.623-1.518,3.236-1.518
	c2.633,0,3.739,0.375,3.739,0.375l-0.521,3.09c0,0-0.87-0.252-1.68-0.252c-0.813,0-1.538,0.29-1.538,1.102v2.355h3.325l-0.23,3.016
	h-3.095v10.485h-3.911V19.65h-2.082V16.635z"/>
</svg>
</a>
<a title="Twitter" href="https://twitter.com/Rosieheadwear" target="_blank" class="social"><?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="40px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#ABABAB" d="M80,40c0.1,21.5-17.2,39.4-38.8,40C18.6,80.6,0.6,62.7,0,41.2
		C-0.6,18.6,17.2,0.6,38.8,0C62.1-0.6,80.2,18.2,80,40z M72.2,40c0-17.8-14.3-32.1-32-32.1c-18,0-32.3,14.2-32.3,32.2
		c0,17.8,14.3,32.1,32.2,32.1C57.9,72.1,72.2,57.8,72.2,40z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#ABABAB" d="M25.8,45.7c1.1,0,2.1,0,3.1,0c-3.8-1.6-5.9-4.2-6.1-8.3
		c1.2,0.3,2.2,0.7,3.3,1c-3.4-4.2-4.1-7.9-2-11.1c4.5,5.2,10.1,8.1,17.1,8.7c-0.2-2-0.2-3.8,0.7-5.6c2.5-4.9,8.8-6.2,13-2.6
		c0.5,0.5,1,0.6,1.6,0.4c1.4-0.5,2.8-1,4.2-1.6c-0.5,1.8-1.7,3.1-3.1,4.4c1.4-0.4,2.7-0.8,4.1-1.1c0.1,0.1,0.1,0.1,0.2,0.2
		c-1.2,1.2-2.3,2.3-3.5,3.5c-0.5,0.4-0.7,0.8-0.7,1.5c-0.2,8.8-3.7,15.9-11.3,20.5c-8,4.8-16.3,4.6-24.4,0.1
		c-0.2-0.1-0.3-0.2-0.7-0.5c4.5,0.3,8.4-0.7,12.1-3.4C29.7,51,27.1,49.3,25.8,45.7z"/>
</g>
</svg>
<svg viewBox="0 0 512 512"><path d="M101.3 141.6v228.9h0.3 308.4 0.8V141.6H101.3zM375.7 167.8l-119.7 91.5 -119.6-91.5H375.7zM127.6 194.1l64.1 49.1 -64.1 64.1V194.1zM127.8 344.2l84.9-84.9 43.2 33.1 43-32.9 84.7 84.7L127.8 344.2 127.8 344.2zM384.4 307.8l-64.4-64.4 64.4-49.3V307.8z"/></svg>  
  
</a>
</div>