<!DOCTYPE html>
<html>
  <header>
    <style>
/* Red border */
hr.new1 {
  border-top: .75px solid #f5f5f5;
}
</style>
  </header>
  <body>
<div><p>273 Australia St Newtown <br/> 2042  Sydney Australia <br/><br/>
  <a class="phone" href="tel:0295571378"
  <a class="phone" href="tel:0412744186">Mobile : 0412744186</a><br/>
  <a class="phone" href="mailto:rosie@rosieboylan.com?subject=Mail from Hatsbyrosieboylan">rosie@rosieboylan.com</a></p>
<hr class="new1">
<h4>OPEN TO THE PUBLIC</h4>
  <p>Saturday retail store trading 10.00 am to 4.00pm
  Additional pre Christmas trading Thursday 21st Dec and Friday 22nd Dec 11:00am to 3:00pm</p>
  <hr class="new1">
<h4>BY APPOINTMENT</h4>
<p>Tuesday to Friday <br>10.00 am to 5.00 pm</p></div>
  </body>
</html>