<!DOCTYPE html>


<body>

<div class="container">



<div class="span4 rel">
<article>
<h2>Recent Articles</h2>
<blockquote class="embedly-card" data-card-key="c48143cf315f4695bc38dc92862380e0" data-card-controls="0" data-card-type="article-full" data-card-align="left"><h4><a href="https://hatsbyrosieboylan.com/blogs/news/selecting-a-sumer-straw-hat">HAT WEAVES FROM AROUND THE GLOBE</a></h4><p>In the lead up to the summer hat season I fill my studio with a range of straw hats in a myriad of colours, textures and patterns in preparation for designing my new summer styles. I take delight in the variety of fibres, their properties and counties of origin....</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</article>
  
<div class="span4 rel">
<aside> 
<h2>Social</h2>
<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="3954/"></script> <!-- end feedwind code -->
  </aside>  
  
<div class="span4 rel">  
<section>
<h2>Recent Photos</h2>

</section>
  
  
 
 </div>


</div>

</body>
  
</html>

